<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">
	<link rel="canonical" href="https://cp.israel-perales.com/">

	<title class="pageTitle">Códigos Postales de México - Consulta Offline y Rápida</title>
	<meta name="description"
		content="App gratuita para buscar códigos postales, colonias y municipios de todo México sin internet. Base de datos oficial con zonas INEGI.">
	<meta name="keywords"
		content="códigos postales méxico, sepomex, correos de méxico, cp, buscar colonia, monterrey, cdmx, android, offline">
	<meta name="theme-color" content="#121212">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://cp.israel-perales.com/">
	<meta property="og:title" content="Códigos Postales para México (App Android)">
	<meta property="og:description" content="Consulta cualquier código postal o colonia sin internet. Rápida y ligera.">
	<meta property="og:image" content="https://cp.israel-perales.com/assets/screenshot/screen1.webp">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">

	<link rel="shortcut icon" href="{{ 'assets/appicon.png' | relative_url }}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "SoftwareApplication",
	  "name": "Códigos Postales de México",
	  "operatingSystem": "Android",
	  "applicationCategory": "UtilitiesApplication",
	  "offers": {
		"@type": "Offer",
		"price": "0",
		"priceCurrency": "MXN"
	  },
	  "author": {
		  "@type": "Person",
		  "name": "Israel Perales",
		  "url": "https://israel-perales.com"
	  }
	}
	</script>
</head>